<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="GradeLimit" value="300" />
		<add key="EmailSender" value="sender@example.com" />
		<add key="SmtpHost" value="smtp.example.com" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpUsername" value="username@example.com" />
		<add key="SmtpPassword" value="yourpassword" />
	</appSettings>

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=SERVER;Initial Catalog=DBNAME;Integrated Security=True;" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>